export POSTGRES_DB=tournament
export POSTGRES_USER=merlin
export POSTGRES_PASSWORD=galaad
export DATABASE_URL=postgresql://merlin:galaad@localhtournament_db_devost:5432/tournament
export JWT_SECRET=# Generated through openssl rand -base64 32
export JWT_EXPIRES_IN=1h
export NODE_ENV=development
