POSTGRES_DB=tournament
POSTGRES_USER=merlin
POSTGRES_PASSWORD=galaad
DATABASE_URL=postgresql://merlin:galaad@localhost:5432/tournament
JWT_SECRET=# Generated through openssl rand -base64 32
JWT_EXPIRES_IN=1h
